language: node_js
node_js:
  - "0.8"

install:
  - "cd ~"
  - "sudo apt-get install git"
  - "git clone git://github.com/xtuple/xtuple.git --recursive"
  - "cd xtuple"
  - "git checkout `git describe --abbrev=0`"
  - "bash scripts/install_xtuple.sh"

before_script:
  - "cd node-datasource"
  - "node main.js &"
  - "sleep 10"
  - "cd .."

script:
  - "npm run-script test"
  - "npm run-script test-datasource"
